<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Mainpage.css">
    <title>Page Principale</title>
</head>
<body>
<!--<button onclick="/allEvents">Tous les evenements</button>-->
<form th:action="@{allEvents/}" th:method="post">
    <input id="button" type="submit" value="Tous les evenements">
</form>
<form th:action="@{EventsSainte/}" th:method="post">
    <input id="button2" type="submit" value="Sainté events">
</form>
<form th:action="@{EventsSainteNotCourse/}" th:method="post">
    <input id="button6" type="submit" value="Sainté events pas cours">
</form>
<form th:action="@{NotEventsSainte/}" th:method="post">
    <input id="button3" type="submit" value="Events pas a sainte">
</form>
<form th:action="@{Course/}" th:method="post">
    <input id="button4" type="submit" value="Tous les events qui sont des cours">
</form>
<form th:action="@{NotCourse/}" th:method="post">
    <input id="button5" type="submit" value="Tous les events qui ne sont pas des cours">
</form>

<p>Prochain cours :</p>
<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Categorie </th>
        <th> Location </th>
        <th> StartDate </th>
        <th> EndDate </th>
        <th> Description </th>
        <th> Organizer </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="l : ${lesson}">
        <td><span th:text="${l.Name}"> Name </span></td>
        <td><span th:text="${l.Categorie}"> Categorie </span></td>
        <td><span th:text="${l.Location}"> Location </span></td>
        <td><span th:text="${l.StartDate}"> StartDate </span></td>
        <td><span th:text="${l.EndDate}"> EndDate </span></td>
        <td><span th:text="${l.Description}"> Description </span></td>
        <td><span th:text="${l.Organizer}"> Organizer </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>